<!DOCTYPE html>
<html>
<head>
      <link rel="icon" href="/img/download.png">
    <title>404</title>
      <link rel="stylesheet"  href="/css/style2.css">
</head>
<body>
   <div class="topNav">
       
           <ul><a href="/">Home</a></ul>
           <ul><a href="/about">About</a></ul>
           <ul><a href="/help">Help</a></ul>

   </div>

  <div>

  <p>
      OOps not found....
  </p>
  </div>
   

 <div class="footer">
 
<p style="display: inline">Made with <p id="heart">&#x2764</p> by Mansi Sharma</p>
 </div>  
</div>
<script src="/js/app.js"></script>
</body>
</html>